# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Logs
*.log

# OS-specific
.DS_Store  # macOS
Thumbs.db  # Windows
*.db      # Windows thumbnail cache

# Environment directories
.venv/
venv/
ENV/

# IDEs and Editors
# PyCharm, VSCode, etc.
.idea/
.vscode/
*.swp
*.swo

# Other
*.bak
